*{
	margin: 0;
	padding: 0;
	/*default fong*/
	font-family: "Open Sans", sans-serif;
	/*box-sizing*/
	box-sizing: border-box;
}

nav {
	padding: 0.7rem; 
	margin-bottom: 2rem; /*2 x 16px(default font size) = 32px*/
	border-bottom: 1px solid gray;
	background-color: #c2195b;


}

nav .nav, nav .nav-logo {
	margin: 0.2rem;
	display: inline;
}

.Title {
	color: white;
	display: inline;
	font-weight: bolder;
	padding-right: 5px;
	font-stretch: extra-expanded;
}



/*intro section*/
#intro {

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	/*text-align:  allows us to align the text and inline elements for all the children of the element where the text-align was added.*/
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
	font-stretch: extra-expanded;
	font-weight: bold;

}

#intro h1 {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

#intro p {
	font-size: large;
	font-weight: bold;
	margin-bottom: 1rem;

}

#intro button {

	color: white;
	/*font-weight allows us to determeine the thickness of the text*/
	font-weight: bold;
	background-color: blueviolet;
	border-radius: 1rem;
	padding: 1rem;
}